{% extends "default.html" %}

{% block topOfContent %}
{% endblock %}

{% block bodyClass %}landing landing--developer{% endblock %}
{% block headerClass %}landing landing--developer clearfix{% endblock %}
{% block headerInnerClass %}clearfix{% endblock %}

{% block header %}
  <div class="landing-illustration landing-illustration--developer"></div>
  <div class="landing-text-outer">
    <div class="landing-text-inner">
      <h3><a href="http://apostrophenow.org/">Apostrophe</a> is a content management system that helps you stay on mission.</h3>
      <a href="http://apostrophenow.org" class="landing-button landing-button-main">Open source project</a>
      <a href="http://my.apostrophenow.com" class="landing-button landing-button-legacy">Legacy customers</a>
    </div>
  </div>

{% endblock %}
