{% macro buildMenuTree(currentIndex) %}
  <ul class="sidebar-items">
    {% for child in ancestors[currentIndex].children %}
      <li class="sidebar-item{% if url == child.url %} current-page{% endif %}">
        {% if url == child.url %}
          {{ child.title | e }}
        {% else %}
          <a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a>
        {% endif %}
      </li>
      {% if currentIndex < (ancestors.length - 1) and child.url == ancestors[currentIndex + 1].url %}
        {{ buildMenuTree(currentIndex + 1) }}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro docTypeClass() -%}
  {%- for _page in ancestors -%}
    {%- if _page.docType -%}{{ _page.docType }}{%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{% macro typeCheck() -%}
  {%- for _page in ancestors -%}
    {%- if _page.type -%}{{ _page.type }}{%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Apostrophe: {{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ root }}stylesheets/main.css">
  <script src="{{ root }}javascript/prism.js"></script>
  <script src="{{ root }}javascript/jquery.min.js"></script>
  <script src="{{ root }}javascript/main.js"></script>
</head>
<body class="{% block bodyClass %}{{typeCheck()}}{% endblock %}">
  <nav class="outer">
  <div class="header {% block headerClass %}{% endblock %}">
    <div class="inner {% block headerInnerClass %}{% endblock %}">
      {% block header %}
      {% endblock %}
    </div>
  </div>
  <footer>
    <div class="inner">
      <div class="right">
        <a href="http://punkave.com" class="punk-logo"></a>
      </div>
      <div>
        Apostrophe is led by <a href="http://punkave.com">P'unk Avenue</a> in Philadelphia, PA.
      </div>
    </div>
  </footer>
</body>
</html>
